# Object files
obj
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
bin
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Editor files
.vscode

# Configuration files
config.mk

# Microchip project files
/examples/harmony/demo/demo/nbproject/private/
/examples/harmony/demo/firmware/demo.X/nbproject/private/
/examples/harmony/demo/firmware/demo.X/build/default/
/examples/harmony/demo/firmware/demo.X/dist/default/
